<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Windows Service</title>
    <script src="angular.min.js"></script>
        <script src="service.js"></script>
</head>
<body ng-controller="myController">
    <!-- <select ng-model="d">
       <option>Red</option>
        <option>Green</option>
        <option>Blue</option>
        <option>Yellow</option>
    </select> -->
    <input type="button" value="cal seca()" ng-click="seca('Hello')">
</body>
</html>